:root {
font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
font-size: 16px;
line-height: 24px;
font-weight: 400;

color: #0f0f0f;
background-color: #292729;

font-synthesis: none;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
}

.container {
margin: 0;
padding-top: 5vh;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}

.row {
display: flex;
justify-content: center;
}

a {
font-weight: 500;
color: #646cff;
text-decoration: inherit;

&:hover {
    color: #535bf2;
}
}

input,
button {
border-radius: 8px;
border: 1px solid transparent;
margin-right: 10px;
padding: 0.6em 1.2em;
font-size: 1em;
font-weight: 500;
font-family: inherit;
color: #0f0f0f;
background-color: #ffffff;
transition: border-color 0.25s;
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
cursor: pointer;
}

button:hover {
border-color: #396cd8;
}
button:active {
border-color: #396cd8;
background-color: #e8e8e8;
}

input,
button {
outline: none;
}

#playername {
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: bold;
    color:#faadc3;
}

#exalts {
    z-index: 2;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    table {
        min-width: 650px;
        background-color: hsla(255,255,255,.8);
        border-radius: 20px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        border-collapse: collapse;

        th {
            border-bottom: 1px solid rgba(128, 128, 128, 0.808);
            &:last-child {
                //border-left: 1px pink solid;
            }
        }

        th {
            
        }

        tbody {
            td {
                &:last-child {
                    border-left: 1px pink solid;
                    font-weight: bold;
                }
            }
        }

        tr {
            border-bottom: 1px solid rgba(128, 128, 128, 0.1);

            &:last-child {
                border: none;

            }

            &:nth-last-child(2) {
                border-bottom: 1px pink solid;
            }

            &:last-child {
                font-weight: bold;
            }
        }
        td {
            padding: 2px;
        }
    }

    .hp {
        color: rgb(73, 196, 212);
    }

    .mp {
        color: rgb(223, 240, 69);
    }

    .atk {
        color: rgb(223, 125, 223);
    }

    .def {
        color: rgb(32, 32, 41);
    }

    .spd {
        color: rgb(76, 224, 143);
    }

    .dex {
        color: rgb(236, 158, 14);
    }

    .vit {
        color: rgb(189, 74, 74);
    }

    .wis {
        color: rgb(65, 65, 226);
    }

}

@mixin center($size, $borders:0){
    position:absolute;
    width:$size; height:$size;
    top:50%; margin-top:-($size+$borders*2)/2;
    left:50%; margin-left:-($size+$borders*2)/2;
}

/* styles */


// Pig face Credits: https://codepen.io/chabo/pen/AwavZw
$pandaSize:300px;
.pig {
    
    $bgColor:#FDDDE6;
    $color:darken($bgColor,10%);
    
    background-color:$bgColor;
    border:12px solid $color;
    @include center($pandaSize, 12px);
    border-radius: 100%;

    .crown {
        position: absolute;
        right: 188px;
        top: 10px;
        transform: scale(3);
        rotate: -25deg;
    }
    
    .eyes { 
        $eyeSize:16px;

        width:100%; 
        position:absolute; 
        top:30%; height:$eyeSize; margin-top:-($eyeSize/2)/2;

        .eye { 
            position:absolute;
            width:$eyeSize; height:$eyeSize;
            background-color:$color;
            overflow:hidden;
            border-radius: 0 0 $eyeSize $eyeSize;

            &.left  { left :100px; transform: rotate(180deg); }
            &.right { right:100px; transform: rotate(-180deg); }
        }
    }
    
    .snout {
        position: absolute;
        width: 90px;
        height: 90px;
        top: 50%;
        margin-left: -45px;
        margin-top: -40px;
        left: 140px;
        background-color: #FDDDE6;
        border: 10px solid #faadc3;
        border-radius: 100%;
        .nostril {
            width: 20px; height: 20px;
            z-index: 2;
            background-color: $color;
            position: absolute; top: 30px;
            border-radius: 100%;

        
            &.left {
                left: 10px;
            }
            &.right {
                right: 10px;
            }  
        }
    }


    .mouth {
        $width:50px;
        background-color:$color;
        width:$width; height:10px; 
        position:absolute; 
        left:50%; margin-left:-$width/2; 
        top:85%;
        border-radius: 10px; 
    }

    .ear {
        $earSize: 50px;
        $earColor: $color;
        position:absolute; 
        z-index:-1; 
        top:-50px;
        width:0; height:0;
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        border-bottom: 100px solid $earColor;

        &.left { 
            left:-10px; 
            rotate: -23deg;}  
        &.right { 
            right:-10px;
        }
        rotate:23deg;
    }
}